:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #dcdcdc;
  --color-black-1: #212b38;
  --color-black-12: #1b242f;
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --cornerRad: 10px;
  --color-background: #5757578d;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: var(--color-black-1);
  }
  
  .logo {
    color: var(--color-white);
    font-size: 25px;
    background-color: var(--color-black-12);
    border-color: var(--color-white);
    padding: 10px;

  }
  
  .logo a {
    color: var(--color-white);
    text-decoration: none;
  }
  
  .logo .eagle {
    color:darkorange;
  }
  
  .logodopravnac {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 5;
    right: 7;
    text-indent: -999em;
    text-decoration: none;
    display: block;
  }

  .undertitle {
    text-align: center;
    color: var(--color-white);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    font-family: sans-serif;
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    }
    .undermenu {
      background-color:var(--color-black-12);
      border: var(--color-black-1);
      height: 85px;
      overflow:hidden;
      scroll-behavior:smooth;
      box-shadow: 0 7px 10px rgb(0, 0, 0, 1);
    }
      .container {
        align-items: center;
        font-weight: bold;
        text-transform: uppercase;
      }
        section {
          width:100vw;
          text-align: center;
          align-items: center;
          display: block;
          position: absolute;
        }
          .y {
            text-align: center;
            text-decoration: none;
            color: white;
            font-family: sans-serif;
            align-items: center;
            border: 1px solid white;
            border-radius: 50px;
            padding: 15px 15px;
            font-size: 20px;
            position: relative;
            top: 35px;
            transition: all 200ms ease;
          }
    
          .y:hover {
            background-color: darkorange;
            color: var(--color-black-1);
          }  

  details {
    margin: 40px;
  }
  summary {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    width: 25px;
    height: 25px;
    border-radius: var(--cornerRad);
    color: white;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
    font-size: 25px;
    font-family: sans-serif;
  }
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before {
    content: "";
  }
  summary::after {
    content: "III";
    letter-spacing: -1px;
  }
  summary:hover {
    transform: scale(1.1);
  }
  summary::marker {
    font-size: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] .menu {
    animation-name: menuAnim;
  }
  details[open] summary::before {
    content: "X";
  }
  details[open] summary::after {
    content: "";
  }
  
  .menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--color-black);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 500ms ease-in-out forwards;
    position: absolute;
    font-family: sans-serif;
  }
  .menu a {
    padding: 12px 24px;
    margin: 0 16px;
    color: var(--color-black-1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 500ms linear 0s;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 200ms ease;
  }
  
  .menu a:nth-of-type(1) {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
  }
  .menu a:nth-of-type(2) {
   padding-bottom: 20px;
  }
  
  
  .menu a:nth-of-type(3) {
    padding-bottom: 20px;  
  }
  
  
  .menu a:nth-of-type(4) {
    padding-bottom: 20px; 
  }
  
  .menu a:nth-of-type(5) {
    padding-bottom: 20px;
  }
  
  .menu a:nth-of-type(6) {
    padding-bottom: 20px;
  }
  
  .menu a:hover {
    color: darkorange;
  }
  
  
  details::before {
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
  }
  
  details[open]::before {
    animation: fadeMe 500ms linear forwards;
  }
  
  @keyframes menuAnim {
    0% {
      height: 0;
    }
    100% {
      height: 400px;
    }
  }
  
  @keyframes fadeMe {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  
 
      .firsttext {
        text-align: left;
        width: 1080px;
        font-family: sans-serif;
        font-size: 20px;
        overflow:hidden;
        box-shadow: 0px 4px 30px 0 rgb(0, 0, 0, 1);
        background-color: var(--color-black);
        border-radius: 10px;
        padding: 20px;
        margin: auto;
      }

      .firsttext li {
        font-weight: bold;
        text-transform: uppercase;
      }


      .secondtext {
        text-align: left;
        width: 1080px;
        font-family: sans-serif;
        font-size: 20px;
        overflow:hidden;
        box-shadow: 0px 4px 30px 0 rgb(0, 0, 0, 1);
        background-color: var(--color-black);
        border-radius: 10px;
        padding: 20px;
        margin: auto;
        position: relative;
        top: 25px;
      }
      .secondtext li {
        font-weight: bold;
        text-transform: uppercase;
      }

      .thirdtext {
        text-align: left;
        width: 1080px;
        font-family: sans-serif;
        font-size: 20px;
        overflow:hidden;
        box-shadow: 0px 4px 30px 0 rgb(0, 0, 0, 1);
        background-color: var(--color-black);
        border-radius: 10px;
        padding: 20px;
        position: relative;
        top: 50px;
        margin: auto;
      }

      .thirdtext li {
        font-weight: bold;
        text-transform: uppercase;
      }

      .quadtext {
        text-align: left;
        width: 1080px;
        font-family: sans-serif;
        font-size: 20px;
        overflow:hidden;
        box-shadow: 0px 4px 30px 0 rgb(0, 0, 0, 1);
        background-color: var(--color-black);
        border-radius: 10px;
        padding: 20px;
        margin: auto;
        position: relative;
        top: 75px
      }

      .quadtext li {
        font-weight: bold;
        text-transform: uppercase;
      }

      .quadtext span {
        font-weight: bold;
        text-transform: uppercase;
      }

      .fifthtext {
        text-align: left;
        width: 1080px;
        font-family: sans-serif;
        font-size: 20px;
        overflow:hidden;
        box-shadow: 0px 4px 30px 0 rgb(0, 0, 0, 1);
        background-color: var(--color-black);
        border-radius: 10px;
        padding: 20px;
        margin: auto;
        position: relative;
        top: 100px;
        margin-bottom: 20px;
      }

      .fifthtext li {
        font-weight: bold;
        text-transform: uppercase;
      }
      .fifthtext img {
        position: relative;
        top: 20px;
        width: 1200px;
        height: 800px;
      }

      .sixthtext {
        text-align: left;
        width: 1080px;
        font-family: sans-serif;
        font-size: 20px;
        overflow:hidden;
        box-shadow: 0px 4px 30px 0 rgb(0, 0, 0, 1);
        background-color: var(--color-black);
        border-radius: 10px;
        padding: 20px;
        margin: auto;
        position: relative;
        top: 100px;
        margin-bottom: 20px;
      }

      .seventhtext {
        text-align: left;
        width: 1080px;
        font-family: sans-serif;
        font-size: 20px;
        overflow:hidden;
        box-shadow: 0px 4px 30px 0 rgb(0, 0, 0, 1);
        background-color: var(--color-black);
        border-radius: 10px;
        padding: 20px;
        margin: auto;
        position: relative;
        top: 100px;
        margin-bottom: 20px;
      }

      .seventhtext li {
        position: relative;
        left: 35px;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      .seventhtext div {
        position: relative;
        left: 75px;
        width: 900px;
      }

      .copyright {
        color: var(--color-black);
        font-size: 15px;
        background-color: var(--color-black-12);
        border-color: var(--color-black);
        position: relative;
        justify-content: center;
        height: 80px;
        padding: 10px;
        font-style: italic;
        font-weight: bold;
        text-align: center;
        font-family: sans-serif;
        box-shadow: 0px -7px 10px black;
        
      }
      
      .copyright span {
        font-size: 12px;
      }