
:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #dcdcdc;
    --color-black-1: #212b38;
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
    --color-background: #5757578d;
  }

body{
  background:#1b1b2b;
  padding:75px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}

.btn{
  color: var(--color-white);
  background:var(--color-black-1);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover {
  border:none;
  background-color: darkorange;
  padding:20px 20px;
  color: var(--color-white);
  transition: filter 200ms ease-in-out 0s;
  font-size: 15px;
}
